<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Up and down the river</title>
    <link rel="stylesheet" href="static/card.css">
  </head>
  <body>
      <div id="content">
        <div id="hand"></div>
        <br><br>
        <div id="trump"></div>
        <br><br>
        <div id="trick"></div>
        <br>
        <div id="bidTable"></div>
        <div id="trickTable"></div>
        <div id="info">
          <form action="" id="getPlayer" method="POST">
            <input type="text" class="name" placeholder="User Name"/>
            <input type="submit" value="Join Game">
          </form>
          </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
    <script type="text/javascript" src="static/javascript.js"></script>

  </body>
  </html>